body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.ant-card-meta {
    position: relative;
}

.ant-card-meta-description {
    font-size: 12px;
    text-align: right;
    position: absolute;
    color: #1f1f1f !important;
    top: -25px;
    right: -10px;
    font-style: italic;
}
.message-card-meta-white-space *,
.ant-card-meta-title,
.ant-card-meta-title *
/* .message-card-meta-white-space span p,
.message-card-meta-white-space span h1,
.message-card-meta-white-space span h2,
.message-card-meta-white-space span h3,
.message-card-meta-white-space span h4,
.message-card-meta-white-space span h5,
.message-card-meta-white-space span h6 
.message-card-meta-white-space span div,
.message-card-meta-white-space span pre ,
.message-card-meta-white-space span code,
.message-card-meta-white-space span li,
.message-card-meta-white-space span p * */
{
    white-space: normal!important;
}
